.main {
  top: 0;
  justify-content: center;
  align-items: center;
  background: url("../assets/pawel-czerwinski-2PN18U8CKi0-unsplash.jpg");
  /* background-size: 100vw 300vh; */
  background-size: cover;
  filter: saturate(0.8);
  margin: 0 auto;
  padding-top: 3rem;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}
.hero {
  height: 30vh;
  align-content: center;
  /* position: sticky; */
  /* padding: 1rem; */
  /* top: 15vh; */
  text-align: center;
}

.about hr {
  margin: 1rem;
  border: 1.25px solid #707070;
}

.about h2 {
  font-size: 1.75rem;
  /* font-family: monospace; */
  color: #616161;
}

.projects {
  padding-top: 1rem;
}

.projects h2 {
  font-size: 1.75rem;
  /* font-family: monospace; */
  color: #616161;
}

.projects hr {
  margin: 1rem 0;
  margin-bottom: 2rem;
  border: 1.25px solid #707070;
}

/* .projectCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  gap: 1.5rem;
  /* padding: 0.5rem; */
/* align-content: center;
  justify-items: center;
  margin: 0 auto; */
/* } */

.projectsSlider {
  display: flex;
  /* overflow-x: auto; */
  /* gap: 1rem; */
  padding: 0.5rem 2rem;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;


}
/* button.slick-arrow.slick-prev {
  left: 0;
  margin: 0 1rem;
} */
/* .slick-next {
  right: 0;
  margin: 0 1rem;
} */
.slick-prev:before, .slick-next:before {
    font-size: 1.5rem;
}

.projectImage {
  margin: 0 auto;
  /* width: 100%; */
  /* height: 100%; */
  padding: 0;
  /* object-fit: contain; */
}

@media (min-width: 900px) {
  .main {
    top: 0;
    justify-content: center;
    align-items: center;
    /* background: url("../assets/pawel-czerwinski-2PN18U8CKi0-unsplash.jpg"); */
    /* background-size: 100vw 300vh; */
    /* background-size: cover; */
    filter: saturate(0.8);
    margin: 0 auto;
    padding-top: 3rem;
    background-repeat: no-repeat;
    /* font-family: monospace; */
  }
  .hero {
    height: 40vh;
    /* position: sticky; */
    /* margin: 3rem; */
    align-content: center;
    /* padding-top: 12%; */
    text-align: end;
    margin-right: 2rem;
  }

  .about hr {
    margin: 1rem 0;
    border: 1.25px solid #707070;
  }

  .about h2 {
    font-size: 1.75rem;
    /* font-family: monospace; */
    color: #616161;
  }

  .projects {
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .projects h2 {
    font-size: 1.75rem;
    /* font-family: monospace; */
    color: #616161;
  }

  .projects hr {
    margin: 1rem 0;
    margin-bottom: 2rem;
    border: 1.25px solid #707070;
  }

  /* .projectCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 1.5rem;
    /* padding: 0.5rem; */
  /* align-content: center;
    justify-items: center;
    margin: 0 auto;
  } */
}
