.main {
  top: 0;
  /* bottom: 0; */
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 2rem;
}
.hero {
  height: 24vh;
  align-content: center;
  text-align: center;
}

.about hr {
  margin: 0.5rem;
  border: 1.25px solid #707070;
}

.about h2 {
  font-size: 1.75rem;
  color: #616161;
}

.projects {
  padding: 0.75rem;
}

.projects h2 {
  font-size: 1.75rem;
  color: #616161;
  margin: 0.375rem auto;
}

.projects hr {
  margin: 0.25rem 0;
  margin-bottom: 1rem;
  border: 1.25px solid #707070;
}

.projectCards {
  padding: 0.5rem;
  align-content: center;
  justify-items: center;
  margin: 0 auto;
}

.projectImage {
  width: 100%;
  /* height: auto; */
  object-fit: fill;
  border-radius: 0.125rem;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.projectsSlider {
  text-align: center;
}

button .slick-arrow .slick-prev {
  font-size: 1.5rem;
  color: #616161;
}
.slick-prev:before,
.slick-next:before {
  font-size: 1.5rem;
    color: #616161;
}

.slick-initialized .slick-slide {
  display: inline-flex;
  justify-content: center;
}

.slick-slide .slick-active .slick-current {
  display: inline-flex;
  justify-content: center;
}

@media (max-width: 500px) {
    .projectImage {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0.25rem;
      }
}

@media (min-width: 900px) {
  .main {
    top: 0;
    justify-content: center;
    align-items: center;
    filter: saturate(0.8);
    margin: 0 auto;
    /* padding-top: 3rem; */
    background-repeat: no-repeat;
  }
  .hero {
    height: 40vh;
    align-content: center;
    text-align: end;
    margin-right: 2rem;
  }

  .about hr {
    margin: 1rem 0;
    border: 1.25px solid #707070;
  }

  .about h2 {
    font-size: 1.75rem;
    color: #616161;
  }

  .projects {
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .projects h2 {
    font-size: 1.75rem;
    color: #616161;
  }

  .projects hr {
    margin: 1rem 0;
    margin-bottom: 2rem;
    border: 1.25px solid #707070;
  }
}
